* {
  box-sizing: border-box;
}

body {
  background-color: rgb(171, 251, 251);
  width: 100vw;
  height: 100vh;
  margin: 0;
  
}

.main-wrapper {
  height: 80%;
  width: 80%;
  background-color: aqua;
}

main {
  height: 90%;
  width: 90%;
  background-color: rgb(36, 172, 250)
}

.game {
  height: 600px;
  width: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.game > div {
  height: 30px;
  width: 30px;
  
  /* display: flex; */
  /* justify-content: center; */
  
}


.pacman {
  background-image: url("../images/pacman.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.wall {
  background-color: rgb(75, 75, 75);
  border: 1px solid black;
}

.pacman-div {
  height: 100%;
  width: 100%;
}

.red-guy {
  background-image: url("../images/ghost1.gif");
  background-repeat: no-repeat;
  background-size: contain;
}