* {
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game {
  max-height: 600px;
  max-width: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  flex-grow: 1;
}

.stats {
  max-width: 600px;
  max-height: 50px;
  width: 100%;
  flex-grow: 1;
  /* background-color: wheat; */
}

.stats ul.lives {
  color: wheat;
  list-style-type: none;
  display: flex;
  height: 80%;
  margin: 0;
  padding: 0;
  
}

.stats li {
  height: 50%;
  width: 10%;
}



.game > div {
  height: 5%;
  width: 5%;
  font-size: 10px;
  text-align: center;
}


.pacman {
  background-image: url("../images/pacman.gif");
  background-repeat: no-repeat;
  background-size: contain;

}

.wall {
  background-color: rgb(75, 75, 75);
  border: 1px solid black;
}

.pacman-div {
  height: 100%;
  width: 100%;
}

.red-guy {
  background-image: url("../images/red-guy.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.pinky {
  background-image: url("../images/pinky.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.yellow {
  background-image: url("../images/yellow.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.weak-ghost {
  background-image: url("../images/weak-ghost.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.death {
  background-image: url("../images/died.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.dot {
  background-image: url("../images/dot.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.pill {
  background-image: url("../images/powerpill.gif ");
  background-repeat: no-repeat;
  background-size: cover;
}

.ghost-kill{
  background-image: url("../images/pew.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pacman-life {
  background-image: url("../images/pacman.png");
  background-repeat: no-repeat;
  background-size: contain;
}
